// mixins


@mixin con-media() {
    // phone
    @media screen and (max-width: $screen-phone) {
        width: 375px;
        height: 667px;
    }
    @media screen and (min-width: $screen-pad-min) and (max-width: $screen-pad-max) {
        width: $screen-pad;
    }

    @media screen and (min-width: $screen-pc-min) {
        width: 100%;
        height: 100vh;
    }
}

@mixin scroll {
   /* 滚动条 */
    ::-webkit-scrollbar-thumb:horizontal { /*水平滚动条的样式*/
        width: 4px;
        background-color: #CCCCCC;
        -webkit-border-radius: 6px;
    }
    ::-webkit-scrollbar-track-piece {
        background-color: #fff; /*滚动条的背景颜色*/
        -webkit-border-radius: 0; /*滚动条的圆角宽度*/
    }
    ::-webkit-scrollbar {
        width: 10px; /*滚动条的宽度*/
        height: 8px; /*滚动条的高度*/
    }
    ::-webkit-scrollbar-thumb:vertical { /*垂直滚动条的样式*/
        height: 50px;
        background-color: #999;
        -webkit-border-radius: 4px;
        outline: 2px solid #fff;
        outline-offset: -2px;
        border: 2px solid #fff;
    }
    ::-webkit-scrollbar-thumb:hover { /*滚动条的hover样式*/
        height: 50px;
        background-color: #9f9f9f;
        -webkit-border-radius: 4px;
    }
}

@mixin  button-normol($height: 28px) {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    background-color: #0bf;
    border-radius: 5px;
    padding: 2px 3px;
    text-align: center;
    min-width: 85px;
    height: $height;
    line-height: $height;
    &:hover {
    background: #9c9;
    padding: 3px 4px;
    }
}