$linearGradient: linear-gradient(to bottom, #096ee6, #6811dc);

body{
  position: relative;
}

@include scroll;
@include markdown;

.container {
  margin: 0 auto;
  @include con-media;
  display: flex;
  background: url('./bg.jpg');
  .left-nav {
    width: 310px;
    height: 100%;
    overflow-y: auto; 
    background-color: rgba(255,255,255,0.85)
  }
  .right-content { 
    width: calc(100% - 310px);
    background-color: rgba(255,255,255,0.8);
  }
}

// iphone端
@media screen and (max-width: $screen-phone) {
  .container {
    background: url('./bg.jpg');
    display: block;
    height: 667px;
    overflow-y: auto;
    .left-nav {
      height: 360px;
      width: 100%;
      overflow: hidden;
    }
    .right-content {
      width: 100%;
      background-color: rgba(255,255,255,0.85);
    }
  }
}